//! Helpers
.section {
  padding: $gutter-large 0;
}

.container {
  position: relative;
  width: 90%;
  max-width: $max-width;
  margin: 0 auto; // perché usavo !important?

  &--full-width {
    @extend .container;

    width: 98%;
    max-width: 98%;
    border-radius: $radius;
  }
}

.container--full-width>.container {
  width: 92%
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  flex: 1 1 auto;
  width: 100%;
}

.col+.col {
  margin-left: $gutter;
}

.bg-lime {
  background-color: $lime
}