//! Helpers
.section {
  padding: $gutter-large 0;
}

.section:not([class*="bg-"])+.section:not([class*="bg-"]) {
  padding-top: 0;
}

.container {
  position: relative;
  width: 90%;
  max-width: $max-width;
  margin: 0 auto; // perché usavo !important?

  &--full-width {
    @extend .container;

    width: 96%;
    max-width: 96%;
    border-radius: $radius;
  }
}

.container--full-width>.container {
  width: 94%
}

.row {
  display: block;

  @include for-tablet {
    display: flex;
    justify-content: space-between;
  }
}

.col {
  flex: 1 1 auto;
  width: 100%;
}

.col+.col {
  margin-top: $gutter;

  @include for-tablet {
    margin-top: 0;
    margin-left: $gutter;
  }
}

.bg-lime {
  background-color: $lime
}