/*! Reset */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  height: -webkit-fill-available;
}

body {
  position: relative;
  margin: 0;
  background-color: $white;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
}

ul[class], ol[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

img {
  max-width: 100%;
  border-style: none;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 1.5rem;
  margin: 0;
  text-decoration: none;
  font-family: $text-font;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all .25s ease-in-out;
}