/*! Slide-fade animation */

/* left */
.slide-fade-left-enter-active {
  transition: all .3s ease;
}

.slide-fade-left-leave-active {
  transition: all .25s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-left-enter, .slide-fade-left-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}

/* bottom */
.slide-fade-bottom-enter-active {
  transition: all .3s ease;
}

.slide-fade-bottom-leave-active {
  transition: all .25s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-bottom-enter, .slide-fade-bottom-leave-to {
  transform: translateY(100%);
  opacity: 0;
}